.container {
 width: 60%;
 margin: auto;
}

#inputTag {
 padding: 20px;
 box-shadow: 0 0 10px rgb(1, 3, 4);
 background-color: rgb(246, 136, 97);
 color: whitesmoke;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 20px 0 50px 0;
}

#addBtn {
 width: 15%;
 margin: 10px 0;
 padding: 5px;
 cursor: pointer;
 border-radius: 5px;
 font-weight: bold;
}

#addBtn:hover {
 background-color: rgb(7, 59, 162);
 color: whitesmoke;
}

#outputTag {
 box-shadow: 0 0 10px rgb(1, 3, 4);
 background-color: rgb(7, 59, 162);
 color: whitesmoke;
 border-radius: 10px;
 padding: 20px 20px;
}

ol {
 text-align: left;
}

#todoLi {
 color: whitesmoke;
 margin: 10px;
 font-size: large;
 font-weight: bold;
}

.todoFnBtn {
 margin: 5px 5px 5px 0;
 padding: 5px;
 border-radius: 5px;
 font-weight: bold;
 cursor: pointer;
}

.todoFnBtn:hover {
 background-color: rgb(6, 29, 79);
 color: rgb(245, 245, 245);
}

label {
 font-weight: bold;
 font-size: large;
 color: black;
}

input {
 width: 80%;
}

.inputField {
 width: 90%;
}

@media only screen and (max-width: 750px) {
 .container {
  width: 80%;
 }

 #addBtn {
  width: 30%;
 }

 input {
  width: 100%;
 }

 .inputField {
  width: 100%;
 }
}